HotelService/HotelService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/HotelService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://www.example.org/HotelService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/HotelService/">
      <xsd:element name="getHotels">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getHotelsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="tns:Hotels"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRooms">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="tns:BookDates" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRoomsResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="tns:Rooms"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="makeBooking">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="tns:Booking" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="makeBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:complexType name="Hotel">
      	<xsd:attribute name="id" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="Hotels">
        <xsd:sequence>
        	<xsd:element name="item" type="tns:Hotel" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="Room">
      	<xsd:attribute name="id" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="price" type="xsd:float"></xsd:attribute>
      	<xsd:attribute name="class" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="Rooms">
        <xsd:sequence>
        	<xsd:element name="item" type="tns:Room" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="Booking">
      	<xsd:attribute name="roomid" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="startdate" type="xsd:date"></xsd:attribute>
      	<xsd:attribute name="enddate" type="xsd:date"></xsd:attribute>
      </xsd:complexType>
  	  <xsd:complexType name="BookDates">
  	  	<xsd:attribute name="hotelid" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="startdate" type="xsd:date"></xsd:attribute>
      	<xsd:attribute name="enddate" type="xsd:date"></xsd:attribute>
  	  </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getHotelsRequest">
    <wsdl:part name="parameters" element="tns:getHotels"/>
  </wsdl:message>
  <wsdl:message name="getHotelsResponse">
    <wsdl:part name="parameters" element="tns:getHotelsResponse"/>
  </wsdl:message>
  <wsdl:message name="getRoomsRequest">
  	<wsdl:part name="parameters" element="tns:getRooms"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoomsResponse">
  	<wsdl:part name="parameters" element="tns:getRoomsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeBookingRequest">
  	<wsdl:part name="parameters" element="tns:makeBooking"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeBookingResponse">
  	<wsdl:part name="parameters" element="tns:makeBookingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelService">
    <wsdl:operation name="getHotels">
      <wsdl:input message="tns:getHotelsRequest"/>
      <wsdl:output message="tns:getHotelsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getRooms">
    	<wsdl:input message="tns:getRoomsRequest"></wsdl:input>
    	<wsdl:output message="tns:getRoomsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeBooking">
    	<wsdl:input message="tns:makeBookingRequest"></wsdl:input>
    	<wsdl:output message="tns:makeBookingResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelServiceSOAP" type="tns:HotelService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getHotels">
  		<soap:operation
  			soapAction="http://www.example.org/HotelService/getHotels" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getRooms">
  		<soap:operation
  			soapAction="http://www.example.org/HotelService/getRooms" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="makeBooking">
  		<soap:operation
  			soapAction="http://www.example.org/HotelService/makeBooking" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port binding="tns:HotelServiceSOAP" name="HotelServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
