CarService/WebContent/wsdl/CarServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CarService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarService" targetNamespace="http://www.example.org/CarService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CarService/">
      <xsd:element name="getCars">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCarsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="tns:Cars"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rentCars">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:rentInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rentCarsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Car">
      	<xsd:attribute name="id" type="xsd:int"/>
      	<xsd:attribute name="model" type="xsd:string"/>
      	<xsd:attribute name="price" type="xsd:float"/>
      </xsd:complexType>
      <xsd:complexType name="Cars">
        <xsd:sequence>
        	<xsd:element maxOccurs="unbounded" name="item" type="tns:Car"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCarsInfo"/>
            <xsd:complexType name="getCarsInput">
            	<xsd:attribute name="city" type="xsd:string"/>
            	<xsd:attribute name="startdate" type="xsd:date"/>
            	<xsd:attribute name="enddate" type="xsd:date"/>
            </xsd:complexType>
            <xsd:complexType name="rentInfo">
            	<xsd:attribute name="id" type="xsd:int"/>
            	<xsd:attribute name="startdate" type="xsd:date"/>
            	<xsd:attribute name="enddate" type="xsd:date"/>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCarsRequest">
    <wsdl:part element="tns:getCars" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCarsResponse">
    <wsdl:part element="tns:getCarsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="rentCarsRequest">
  	<wsdl:part element="tns:rentCars" name="rentCartRequest"/>
  </wsdl:message>
  <wsdl:message name="rentCarsResponse">
  	<wsdl:part element="tns:rentCarsResponse" name="rentCarsResponse"/>
  </wsdl:message>
  <wsdl:portType name="CarService">
    <wsdl:operation name="getCars">
      <wsdl:input message="tns:getCarsRequest"/>
      <wsdl:output message="tns:getCarsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="rentCars">
    	<wsdl:input message="tns:rentCarsRequest"/>
    	<wsdl:output message="tns:rentCarsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceSOAP" type="tns:CarService">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="getCars">
  		<soap:operation soapAction="http://www.example.org/CarService/getCars"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="rentCars">
  		<soap:operation soapAction="http://www.example.org/CarService/rentCars"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port binding="tns:CarServiceSOAP" name="CarServiceSOAP">
      <soap:address location="http://localhost:8080/CarService/services/CarServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
