BusinessServices/WebContent/WEB-INF/services/CarService/META-INF/CarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CarService" targetNamespace="http://www.example.org/CarService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/CarService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CarService/">
      <xsd:element name="getCars">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCarsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="tns:Cars"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rentCars">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:rentInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rentCarsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Car">
      	<xsd:attribute name="id" type="xsd:int"/>
      	<xsd:attribute name="model" type="xsd:string"/>
      	<xsd:attribute name="price" type="xsd:float"/>
      </xsd:complexType>
      <xsd:complexType name="Cars">
        <xsd:sequence>
        	<xsd:element maxOccurs="unbounded" name="item" type="tns:Car"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCarsInfo"/>
            <xsd:complexType name="getCarsInput">
            	<xsd:attribute name="city" type="xsd:string"/>
            	<xsd:attribute name="startdate" type="xsd:date"/>
            	<xsd:attribute name="enddate" type="xsd:date"/>
            </xsd:complexType>
            <xsd:complexType name="rentInfo">
            	<xsd:attribute name="id" type="xsd:int"/>
            	<xsd:attribute name="startdate" type="xsd:date"/>
            	<xsd:attribute name="enddate" type="xsd:date"/>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rentCarsRequest">
    <wsdl:part name="rentCartRequest" element="tns:rentCars">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsRequest">
    <wsdl:part name="parameters" element="tns:getCars">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsResponse">
    <wsdl:part name="parameters" element="tns:getCarsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rentCarsResponse">
    <wsdl:part name="rentCarsResponse" element="tns:rentCarsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarService">
    <wsdl:operation name="getCars">
      <wsdl:input message="tns:getCarsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCarsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rentCars">
      <wsdl:input message="tns:rentCarsRequest">
    </wsdl:input>
      <wsdl:output message="tns:rentCarsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceSOAP" type="tns:CarService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCars">
      <soap:operation soapAction="http://www.example.org/CarService/getCars"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rentCars">
      <soap:operation soapAction="http://www.example.org/CarService/rentCars"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="CarServiceSOAP" binding="tns:CarServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
